In [1]:
from functions.db import *

# Creating a database for the jobs info we have

I've spent a few months collecting job posts with a script that I designed so that I could get enough data to understand the job market.

The job information is stored in .csv files in the folder `data`. With this function we open and concatenate all the csv files into a single dataframe, and we remove any duplicates. We also insert an ID that will work as primary key in our SQL database.

In [2]:
def get_df_from_csv(path:str = "data", 
                    subset:str = "description"):
    """
    path: str 
        Folder path, defaults to "data". The function will take all the csv
        file in this path and concatenate them to a pandas.core.frame.DataFrame.
    subset: str 
        Column name. Defaults to "description". The function will drop duplicates
        in this column.
        
    return: pandas.core.frame.DataFrame
    
    Takes a folder containing csv files only and returns a pandas.core.frame.DataFrame 
    object concatenating all the files in that folder and removing duplicates in the 
    subset column.
    """
    data_dir = os.listdir(path)
    df = pd.concat(
        [pd.read_csv(f"{path}/{file}", header = 0) for file in data_dir],
        join="outer",
        ignore_index=True)
    df.drop_duplicates(
        subset=subset,
        keep="first",
        inplace=True,
        ignore_index=True)
    df.insert(0, "id", range(1, df.shape[0] + 1))
    return df

Now that we have all our data in a single dataframe, we call our function to create a database table from a pandas dataframe!

In [3]:
pandas_to_mysql(get_df_from_csv(), "job_posts")

5157 entries were added to the table job_posts!